<!DOCTYPE html>
<html>
  <head>
    <title>Base Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_javascript_tag "application" %>
    <% if current_user %>
      <%= javascript_tag do %>
        window.userDetails = <%= user_details %>
      <% end %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
